a {
  text-decoration: none;
  color: black;
}

.button {
  cursor: pointer;
  border-radius: 10px;
  height: auto;
  width: auto;
  margin: 0.5rem;
  font-size: 1.6rem;
  padding: 0.5rem;
  background-color: var(--dark-blue);
  color: white;
  transition: all 0.2s linear 0s;
}

.button:hover {
  background-color: white !important;
  color: var(--dark-blue);
}

#div-button {
  background-color: var(--mid-blue);
}

#div-button:hover {
  color: var(--mid-blue);
}

.centred-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

#feedback{
    font-size: 2rem;
    text-align: center;
    color:white;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}


#background{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    background: radial-gradient(var(--light-blue), var(--dark-blue));
}
#main-container {
    position: relative;
    width: 80%;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background-color: var(--light-blue);
    /*background: radial-gradient(var(--light-blue), var(--mid-blue));*/
    margin-bottom: 4rem;
    margin-top: 4rem;
    border: 1px solid rgba(255,255,255,0.4);
}

#guesser-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#canvas-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

#quiz-controls{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    overflow-y: scroll;
    margin-bottom: 2rem;
}

:host ::ng-deep #card-grid canvas{
    margin-bottom: 8px;
}

#guess-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: space-evenly;
}

#guess-buttons a {
    width: 40%;
    text-align: center;
}

#score, #timer {
    position: absolute;
    margin-bottom: -2rem;
    margin-left: calc(100% - 8rem);
    font-size: 2rem;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: var(--mid-blue);
    color: var(--dark-blue);
    border-radius: 50%;
    border: 1px solid var(--light-blue);
}

#timer {
    margin-left: calc(100% - 13rem);
    margin-top: -1.5rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    color: var(--light-blue);
    background-color: var(--dark-blue);
}

#menu-button {
    margin-top: 2rem;
}

.results {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summary {
    padding: 3rem;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-size: 3rem;
    border-radius: 1rem;
}

.summary span {
    color: white;
    float: right;
    margin-left: 3rem;
}

.explanation {
    font-size: 1rem;
}

#main-container h3 {
  position: absolute;
  top: -11rem;
  left: 0;
  color: #f0f0f0;
  font-weight: normal;
  font-size: 6rem;
  text-align: right;
  font-family: "Sacramento", cursive;
  text-shadow: 5px 5px 5px var(--dark-blue);
  z-index: 1;
}

.disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
}

.answers {
  position: absolute;
  top: 2rem;
  width: 200px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.answer{
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
}

.correct-answer{
  background-color: green;
}

.help-modal-opener {
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
  color: white;
  background-color: var(--mid-blue);
  font-size: 1em;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  border: 1px solid white;
}

.help-modal-opener:hover {
  background-color: var(--light-blue);
  cursor: pointer;
}
