* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.help-modal-opener {
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
  color: white;
  background-color: var(--mid-blue);
  border: 1px solid white;
  font-size: 1em;
  position: fixed;
  bottom: 20px;
  right: calc(24px + 1em);
  z-index: 2;
}

.help-modal-opener:hover {
  background-color: var(--light-blue);
  cursor: pointer;
}

.timer {
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border: 4px solid var(--light-blue);
  border-radius: 50%;
  color: white;
  font-size: 2em;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.timer-low {
  border-color: red;
  box-shadow: 0px 0px 10px 2px red;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  background: radial-gradient(var(--light-blue), var(--dark-blue));
}

.player-top,
.player-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.player-top {
  top: 0;
}

.player-bottom {
  bottom: 0.2rem;
}

.player-left,
.player-right {
  position: absolute;
  width: 100vh;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-left {
  left: 0;
  top: 50%;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: left top;
}

.player-right {
  right: 0;
  top: 50%;
  transform: rotate(90deg) translateX(50%);
  transform-origin: right top;
}

.player-hand {
  width: max(fit-content, 270px);
  height: fit-content;
  background-color: var(--light-blue);
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
}

.other-hand {
  display: flex;
  justify-content: center;
}

.others-card {
  width: 70px;
  height: 105px;
  background-color: #f0f0f0;
  background-image: url('../../assets/hatlap.png');
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  margin: 5px;
  margin-left: -30px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.others-card:nth-child(1) {
  margin-left: 5px;
}

.drawable-card.hovered {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.player-current {
  width: fit-content;
  height: fit-content;
  margin: 0;
}

.player-username {
  margin: 0;
  margin-bottom: 5px;
  background-image: linear-gradient(90deg, #f0f0f0, var(--light-blue));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.5rem;
}

.highlighted-player {
  color: #f0f0f0;
  letter-spacing: 3pt;
  text-shadow: 1px 1px 0.3rem var(--mid-blue);
}

.highlighted-player span {
  text-shadow: none;
}

.player-top .player-username {
  margin-top: 0.2rem;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card,
.card-placeholder,
.card-slot {
  width: 210px;
  height: 140px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 5px;
  text-align: center;
}

.card-slot {
  overflow: hidden;
}

.card-slot .card {
  margin: 0;
}

.card:hover {
  box-shadow: 0.1rem 0.1rem 0.5rem var(--dark-blue);
}

.card-placeholder {
  opacity: 0;
}

#pairing-space {
  position: relative;
  margin: 0.2rem;
  width: fit-content;
  height: fit-content;
  margin-top: 2.75rem;
  /*background-color: var(--light-blue);*/
}

#pairing-space,
#div-space,
#conv-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#div-space,
#conv-space {
  position: relative;
  width: fit-content;
  padding: 0.4rem;
  margin: 0.2rem;
}

#div-space {
  background-color: var(--mid-blue);
  margin-right: 0.4rem;
}

#conv-space {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.relation-symbol {
  font-size: 2rem;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  transform: translateX(calc(-100% + 3rem));
  transition: transform 0.2s;
  z-index: 2;
}

#sidebar-history {
  width: fit-content;
  height: 100vh;
  background-color: var(--light-blue);
  text-align: center;
  overflow-y: auto;
}

#sidebar.active {
  transform: none;
}

#sidebar-history h2 {
  background-image: linear-gradient(45deg, var(--dark-blue), #000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
  letter-spacing: 3pt;
}

#sidebar-history h3 {
  color: #f0f0f0;
  font-weight: normal;
  font-size: 2rem;
  text-align: right;
  margin-bottom: -3.3rem;
  margin-right: 1.1rem;
  font-family: "Sacramento", cursive;
}

#sidebar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--mid-blue);
  z-index: 2;
  margin-top: 1rem;
}

#sidebar-button:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

.pair-container {
  padding: 1.5rem 0.3rem;
  color: #f0f0f0;
  margin: 2rem 1rem;
  width: fit-content;
  border-radius: 0.5rem;
}

.pair {
  margin: 0.4rem;
}

#conv-pair-container {
  background-color: var(--dark-blue);
}

#div-pair-container {
  background-color: var(--mid-blue);
}

.player-toolstrip {
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem
}

.player-toolstrip .pair-count-display {
  margin-left: 1rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
}

.player-toolstrip .material-icons {
  color: #f0f0f0;
}

.player-toolstrip .player-username {
  margin: 0;
  margin-right: 0.5rem;
}

.player-toolstrip button {
  background-color: var(--mid-blue);
  border: none;
  border-radius: 0.2rem;
  color: #f0f0f0;
  padding: 0.3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: auto 1rem;
}

.player-toolstrip button:hover {
  cursor: pointer;
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.dark-username {
  color: var(--dark-blue);
}


.space-name {
  position: absolute;
  top: -2.75rem;
  left: 0;
  color: #f0f0f0;
  font-weight: normal;
  font-size: 2.75rem;
  text-align: right;
  font-family: "Sacramento", cursive;
  text-shadow: 5px 5px 5px var(--dark-blue);
  z-index: 1;
}

.card {
  position: relative;
}

/* Tooltip text */
.card .tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s;
  background-color: rgba(0, 15, 56, 0.9);
  color: #fff;
  text-align: center;
  padding: 10px;
  padding-bottom: 15px;
  border-radius: 6px;
  box-sizing: border-box;

  position: absolute;
  width: 250%;
  left: -75%;
  bottom: calc(100% + 5px);
  z-index: 1;
}

.card:hover .tooltip {
  transition-delay: 1s;
  visibility: visible;
  opacity: 1;
}

.card .tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.shader{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

#result-popup, #wait-popup {
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mid-blue);
  border-radius: 1rem;
  padding: 2rem 5rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-family: 'Spinnaker', sans-serif;
}

#wait-popup {
  font-size: 2rem;
}

.loading-container {
  margin-top: 2rem;
  display: flex;
  gap: 10px;
}
.dot {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  animation: blink 1s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
.dot:nth-child(4) {
  animation-delay: 0.6s;
}
.dot:nth-child(5) {
  animation-delay: 0.8s;
}
@keyframes blink {
  0%, 100% {
      background-color: white;
  }
  50% {
      background-color: var(--dark-blue);
  }
}

.result-summary {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: space-around;
  text-align: justify;
  width: fit-content;
}

.result-title {
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}

.result-placement{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 1rem;
}

.placement {
  margin-right: 2rem;
  font-family: 'Sacramento', cursive;
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 2rem;
  padding: 1.4rem 1rem 0.6rem 1rem;
  background-color: var(--dark-blue);
  border-radius: 50%;
}

.name span {
  font-size: 1rem;
}

.popup-footer {
  display: inline-flex;
}

.button {
  cursor: pointer;
  border-radius: 10px;
  height: auto;
  width: auto;
  margin: 0.5rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  background-color: var(--dark-blue);
  color: white;
  transition: all 0.2s linear 0s;
}

.button:hover {
  background-color: white !important;
  color: var(--dark-blue);
}

.own-placement {
  color: var(--dark-blue);
  font-weight: bolder;
}

#toast {
  visibility: hidden;
  width: fit-content;
  background-color: rgba(0, 15, 56, 0.9);
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
  font-size: 1.2rem;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 1rem; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 1rem; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 1rem; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 1rem; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.latex-container{
  width: 210px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  color: #000;
  background-image: url('../../assets/Keret.png');
  background-size: cover;
}

.yeti-card{
  color: transparent;
  background-image: url('../../assets/yeti.png');
  background-size: cover;
}
