<div id="menu">
    <button  class="menu-button" (click)="startPractise()">Practise</button>
    <div id="deck-choice-practise" class="choice choice-disabled"></div>
    <button  class="menu-button" (click)="startPlay()">Play</button>
    <div id="game-choice" class="choice choice-disabled">
        <div id="yeti" class="deck-card game-card selected-game" (click)="selectGame('yeti')">
            <h3>YETI</h3>
        </div>
        <div id="blue-yeti" class="deck-card game-card" (click)="selectGame('blue-yeti')">
            <h3>Blue Yeti</h3>
        </div>
        <div id="wall-builder" class="deck-card game-card" (click)="selectGame('wall-builder')">
            <h3>Wall Builder</h3>
        </div>
    </div>
    <div id="deck-choice-play" class="choice choice-disabled"></div>
    <button  class="menu-button">Stats</button>
    <button  class="menu-button">Log out</button>
</div>

